.container {
    display: flex;
    justify-content: space-between;
}
.left {
    display: flex;
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
}
.leftText {
    font-size: 13px;
    font-weight: 600;
    color: #8d8d8d;
    padding: 0 20px;
}
.rightText {
    font-size: 13px;
    font-weight: 600;
    color: #8d8d8d;
    padding: 0 20px;
}
.rightText:hover {
    cursor: pointer;
}
