.container {
    display: flex;
    justify-content: space-between;
    margin: 50px 40px;
    align-items: center;
}
.containerRight {
    width: 30%;
}
.imageWrap {
    width: 70%;
}
.image {
    height: 500px;
}
.inner1 {
    display: flex;
    justify-content: space-between;
}

.innerText1 {
    font-size: 14px;
    font-weight: 600;
    color: #8d8d8d;
}
.innerText2 {
    color: #0083f2;
    font-size: 25px;
    font-weight: bold;
}
.innerPara {
    font-size: 12px;
    color: #464646;
}
